<footer
  class="grid grid-cols-2 md:grid-cols-3 bg-slate-800 w-full items-center justify-items-center py-10 px-5 text-white gap-3 relative"
>
  <div class="col-span-1 flex gap-3 items-center justify-center">
    <svg
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 500.000000 500.000000"
      preserveAspectRatio="xMidYMid meet"
      class="bg-transparent h-[48pt] w-[48pt] md:h-[128pt] md:w-[80pt]"
      stroke="#ffffff"
    >
      <g
        transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
        fill="#ffffff"
        stroke="none"
      >
        <path
          d="M1552 4030 c-116 -31 -205 -84 -303 -180 -69 -69 -94 -101 -127 -170
-58 -117 -75 -192 -74 -325 0 -210 57 -387 253 -787 75 -155 151 -366 188
-528 32 -142 42 -288 39 -590 -3 -281 -3 -286 21 -337 43 -96 145 -163 246
-163 54 0 129 28 171 64 82 70 126 193 179 496 47 270 108 382 240 442 68 31
171 31 237 1 139 -64 215 -203 253 -466 46 -313 102 -445 215 -502 139 -71
297 -19 365 119 37 76 44 167 32 401 -22 427 27 645 260 1140 148 314 194 452
214 637 16 151 -6 270 -77 410 -81 160 -252 293 -441 342 -35 9 -102 16 -156
16 -157 0 -293 -54 -441 -175 -154 -127 -284 -192 -363 -181 -71 9 -174 70
-378 222 -74 55 -161 98 -240 119 -81 21 -222 19 -313 -5z m341 -139 c33 -13
87 -43 120 -66 318 -224 364 -247 492 -247 128 0 197 32 405 186 118 88 176
120 257 141 252 66 537 -101 631 -369 20 -58 25 -90 25 -176 0 -168 -40 -299
-188 -620 -191 -415 -260 -623 -285 -857 -6 -58 -10 -232 -8 -402 3 -289 2
-300 -18 -328 -30 -41 -87 -67 -131 -58 -84 16 -129 103 -163 316 -48 312 -98
455 -191 547 -96 96 -208 142 -345 142 -182 0 -327 -94 -409 -265 -43 -89 -68
-183 -95 -362 -25 -166 -52 -264 -89 -318 -66 -98 -201 -77 -231 36 -7 25 -8
134 -4 317 5 196 3 307 -5 377 -31 251 -101 459 -298 879 -93 200 -118 265
-149 391 -27 111 -32 246 -13 337 37 179 184 336 382 409 73 27 228 22 310
-10z"
        ></path>
        <path
          d="M2074 3346 c-71 -31 -86 -110 -33 -171 27 -30 37 -35 77 -35 118 0
166 141 68 201 -36 22 -69 23 -112 5z"
        ></path>
        <path
          d="M2810 3330 c-50 -50 -52 -110 -6 -156 29 -29 41 -34 81 -34 40 0 52
5 81 34 26 26 34 42 34 71 0 29 -8 45 -34 71 -30 30 -40 34 -85 34 -38 0 -56
-5 -71 -20z"
        ></path>
        <path
          d="M1586 2968 l-97 -93 11 -36 c5 -19 21 -46 35 -59 l24 -23 59 52 c33
28 63 51 67 51 4 0 63 -54 130 -119 207 -202 388 -285 642 -298 134 -7 233 7
353 49 152 54 261 127 420 284 l96 94 57 -55 c31 -30 61 -55 66 -55 27 0 76
81 65 108 -4 9 -49 57 -100 106 l-93 89 -57 -64 c-112 -125 -230 -232 -324
-294 -159 -104 -260 -135 -437 -136 -274 0 -485 116 -736 409 -39 45 -74 82
-77 82 -4 0 -50 -42 -104 -92z"
        ></path>
      </g>
    </svg>

    <div class="flex">
      <ul class="flex flex-col gap-1">
        <li><a href="#hero">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#doctores">Doctores</a></li>
        <li><a href="#testimoniales">Comentarios</a></li>
        <li><a href="#eventos">Eventos</a></li>
      </ul>
    </div>
  </div>

  <div class="md:flex hidden">
    <address>
      Teléfono: +51 1234 5678<br />
      Email: info@tuempresa.com
    </address>
  </div>

  <div class="grid grid-cols-2 gap-3 md:grid-cols-4 md:grid-rows-1">
    <!-- Icon Linkedin -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="transparent"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin hover:scale-125 transition-transform duration-300 h-[24pt] w-[24pt] md:h-[32pt] md:w-[32pt] cursor-pointer"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
      ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
        d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
    >
    <!-- Icon Twitter -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="white"
      class="icon icon-tabler icons-tabler-filled icon-tabler-brand-twitter hover:scale-125 transition-transform duration-300 h-[24pt] w-[24pt] md:h-[32pt] md:w-[32pt] cursor-pointer"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M14.058 3.41c-1.807 .767 -2.995 2.453 -3.056 4.38l-.002 .182l-.243 -.023c-2.392 -.269 -4.498 -1.512 -5.944 -3.531a1 1 0 0 0 -1.685 .092l-.097 .186l-.049 .099c-.719 1.485 -1.19 3.29 -1.017 5.203l.03 .273c.283 2.263 1.5 4.215 3.779 5.679l.173 .107l-.081 .043c-1.315 .663 -2.518 .952 -3.827 .9c-1.056 -.04 -1.446 1.372 -.518 1.878c3.598 1.961 7.461 2.566 10.792 1.6c4.06 -1.18 7.152 -4.223 8.335 -8.433l.127 -.495c.238 -.993 .372 -2.006 .401 -3.024l.003 -.332l.393 -.779l.44 -.862l.214 -.434l.118 -.247c.265 -.565 .456 -1.033 .574 -1.43l.014 -.056l.008 -.018c.22 -.593 -.166 -1.358 -.941 -1.358l-.122 .007a.997 .997 0 0 0 -.231 .057l-.086 .038a7.46 7.46 0 0 1 -.88 .36l-.356 .115l-.271 .08l-.772 .214c-1.336 -1.118 -3.144 -1.254 -5.012 -.554l-.211 .084z"
      ></path></svg
    >
    <!-- Icon Facebook -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="white"
      class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook hover:scale-125 transition-transform duration-300 h-[24pt] w-[24pt] md:h-[32pt] md:w-[32pt] cursor-pointer"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
      ></path></svg
    >

    <!-- Icon Email -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="white"
      class="icon icon-tabler icons-tabler-filled icon-tabler-mail hover:scale-125 transition-transform duration-300 h-[24pt] w-[24pt] md:h-[32pt] md:w-[32pt] cursor-pointer"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
      ></path><path
        d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
      ></path></svg
    >
  </div>
  <div
    class="flex w-full absolute bottom-2 self-center text-center items-center justify-center"
  >
    <p>
      &copy; 2024 <strong> Sonrisitas</strong>. Todos los derechos reservados.
    </p>
  </div>
</footer>
